body{
    background-color: black;
}

#title{
    color: white;
    text-align: center;
}

.poem{
    color: white;
    text-align: center;
}

.img{
    width: 200px;
    height: 200px;
}
